.oculto {
    display: none;
}

#mensagemErro, #mensagemErro2 {
    color: rgb(184, 6, 6);
    text-align: center;
    margin-top: 10px;
    height: 30px;
    background-color: rgb(240, 104, 104, 0.5);
}
