
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
}

.select-one, .select-two{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

#moverParaDireitaBtn:hover, #moverParaEsquerdaBtn:hover{
    cursor: pointer;
    background-color: rgb(189, 176, 176);
    
}

#moverParaDireitaBtn:disabled:hover, #moverParaEsquerdaBtn:disabled:hover{
    cursor: not-allowed; 
    background-color: white;
}


#ativosDisponiveis, #carteiraInvestimentos{
    margin-top: 10px;
    width: 220px;
    height: 210px;
}